/* Navbar */
nav{
    padding: 20px;
    font-family: "Comic Relief", system-ui;
    background-color: #7759a3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav ul{
    font-family: "Comic Relief", system-ui;
    justify-content: center;
    gap: 100px;
    display: flex;
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: white;
    
    position: relative;
    display: inline-block;
    transition: transform 0.25s ease;
}
nav a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #DB3E8D;
    transform: translateX(-50%);
    transition: width 0.25s ease;
}
nav a:hover{
    transform: scale(1.08);
}
nav a:hover::after{
    width: 100%;
}

/* Construccion de pagina*/
body{
    background-color: #E8DFF4;
}
header{
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
    height: 600px;
    image-resolution: initial;
}
#Foto{
    width: 300px;
    height: auto;
    border-radius: 80px;
}
button{
    color: #911d57;
    font-family: "Comic Relief", system-ui;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-color: #DB3E8D;
    background-color: #FFAFEC;
}
#skills{
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    color: #F5C35C;
    background-color: #2D1B4E;    
}
.skills-contenedor {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.card {
    width: 120px;
    height: 120px;
    margin-top: 50px;
    background-color: #3d246d;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.card.visible {
    opacity: 1;
    transform: translateY(0);
}
.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.card p {
    color: #ffffff;
    font-size: 12px;
    margin: 0;
}

/* Texto */
h1{
    font-family: "DynaPuff", system-ui;
    font-size: 60px;
    color: #911d57;
}
h2{
    font-family: "Comic Relief", system-ui;
    font-size: 30px;
}
h4{
    font-family: "Comic Relief", system-ui;
}
ul{
    font-family: "Quicksand", sans-serif;
}
p{
    font-family: "Quicksand", sans-serif;
}